DB_HOST=tu-host.aivencloud.com
DB_PORT=12345
DB_USER=tu-usuario
DB_PASSWORD=tu-password
DB_NAME=defaultdb

# --- NUEVAS: configuración de Django para tu computadora ---
# pega aquí la clave que acabas de generar
SECRET_KEY=MFOKTtM2uQ3c3VGGEK6zm5QON2-iFD-GnSALKBJHyLEfDgbiFfukJM5xlDbmzgMzPek
# True en tu compu para ver errores detallados
DEBUG=True
# los dos nombres con los que abres runserver, separados por coma y SIN espacios
ALLOWED_HOSTS=127.0.0.1,localhost
# las mismas direcciones pero completas, con http:// y el puerto 8000
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000